body {
    font-family: 'Open Sans', sans-serif;
}

*::selection {
    color:orange;
    background-color: blue;
}

/* Header */

header div.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#hero {
    margin-right: 50px;
    transition-property: margin-right; 
    transition-duration: 0.01s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#hero:hover{
    margin-right: 60px;
}

/* SKills */

#skills {
    padding-left: 10px;
    padding-right: 10px;
}

#skills div {
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-between;
}

#skills div p {
    flex-grow: 1;
}

#skills div meter {
    flex-grow: 2;
    padding-left: 10px;
    padding-right: 10px;
}

/* Experience */

#experience article {
    display: flex;
    flex-direction: column;
}

header a {
    text-transform: uppercase;
}

nav a {
    color: white;
    text-decoration-line: none;
    transition-property: font-size; 
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.5s;
}

nav a:hover {
    color: black;
    font-size: 150%;
}

#about p::first-letter {
    font-size: 150%;
}

meter {
    width: 200px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

meter::-webkit-meter-optimum-value {
    background: orange;
}

meter::-webkit-meter-bar {
    border-radius: 20px;
}

meter:hover {
    width: 800px;
}

.blueBG {
    background: linear-gradient(to bottom, #00aaff, #00ccff);
    border-radius: 20px;
}

.blackBG {
    background-color: #333333;
}

.whiteText {
    color: white;
}

h1 {
    font-style: bold;
    letter-spacing: 12px;
    font-size: 32px;
    font-weight: bolder;
}

h2 {
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 14px;
    font-weight: lighter;
}

footer h3 {
    font-size: 19px;
    font-weight: bolder;
}

header h3 {
    font-size: 19px;
    font-weight: bolder;
}

contact ul, li, a{
    font-size: 11px;
    font-weight: lighter;
    color: white;
    text-decoration-line: none;
}